extends layout

block content
    .row
        .offset-md-4.col-md-4
            h2.text-center= program.name
        .offset-md-2.col-md-2
            form(action="/programs/"+program.id+"/addExercise", method="post", role="form")
                .form-group
                    label(for="exercise") Øvelser
                    select#name.form-control(name="exercise")
                        each exercise in exercises
                            option(value=exercise.id)= exercise.name
                button.btn.btn-primary.float-right Tilføj øvelse til program
    .row
      .col-md-4
          h3.text-center Øvelse
      .col-md-4
          h3.text-center Beskrivelse
      .col-md-4
          h3.text-center Gentagelse/Tid
    .row
        each exercise in program.exercises
            .col-md-4
                h4.text-center= exercise.name
            .col-md-4
                h4.text-center= exercise.description
            .col-md-4
                if exercise.isRepetition
                    h4.text-center= exercise.repetitions + ' X ' + exercise.sets
                else
                    h4.text-center= exercise.time


    
