extends layout

block content
    .row
        .offset-md-4.col-md-4
            h2.text-center= program.name
    .row
      .col-md-4
          h3.text-center Øvelse
      .col-md-4
          h3.text-center Beskrivelse
      .col-md-4
          h3.text-center Gentagelse/Tid
    .row
        each exercise in program.exercises
            .col-md-4
                h4.text-center= exercise.name
            .col-md-4
                h4.text-center= exercise.description
            .col-md-4
                if exercise.isRepitition
                    h4.text-center= exercise.repititions + ' X ' + exercise.sets
                else
                    h4.text-center= exercise.time


    
